<div class="container-fluid">
    <nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-light shadow-sm">
        <div class="row align-items-center w-100">
            <!-- Back Button Column -->
            <div class="col-auto">
                <button class="btn btn-outline-white" routerLink=".." type="button">
                    <i class="fa fa-arrow-left text-white"></i>
                </button>
            </div>
            <!-- Task Name Column -->
            <div class="col-10">
                <span class="text-white">Concludi</span>
            </div>
        </div>
    </nav>

    <!-- <div class="row">
        <div class="col-12">
            <div class="input-group row">
                <span class="input-group-text col-3">Inizio</span>
                <input type="time" class="form-control col-4">
            </div>
            <div class="input-group row">
                <span class="input-group-text col-3">Fine</span>
                <input type="time" class="form-control col-4">
            </div>
            <div class="input-group row mt-3">
                <label>Note</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <div class="input-group row mt-3">
                <canvas #canvas width="250" height="100" class="shadow"></canvas>
            </div>
        </div>
    </div> -->


    <div class="mt-4 pt-4">
        <form (ngSubmit)="onSubmit()" #formData="ngForm">
            <div class="row mb-3">
                <!-- Inizio Field -->
                <div class="col-12 col-md-12 mb-2">
                    <div class="input-group">
                        <span class="input-group-text">Inizio</span>
                        <input type="time" class="form-control" [(ngModel)]="formModel.inizio" name="inizio"
                            #inizio="ngModel" required />
                        <!-- Validation Error Message -->

                    </div>
                    <div *ngIf="inizio.invalid && inizio.touched" class="text-danger">
                        Inizio è richiesto
                    </div>
                </div>

                <!-- Fine Field -->
                <div class="col-12 col-md-12 mb-2">
                    <div class="input-group">
                        <span class="input-group-text">Fine</span>
                        <input type="time" class="form-control" [(ngModel)]="formModel.fine" name="fine" #fine="ngModel"
                            required />
                        <!-- Validation Error Message -->

                    </div>
                    <div *ngIf="fine.invalid && fine.touched" class="text-danger">
                        Fine è richiesto
                    </div>
                </div>

                <!-- Note Field -->
                <div class="col-12 col-md-12 mb-2">
                    <div class="input-group">
                        <span class="input-group-text">Note</span>
                        <input type="text" class="form-control" [(ngModel)]="formModel.note" name="note"
                            #note="ngModel" />
                    </div>
                    <div *ngIf="note.invalid && (note.touched || note.dirty)" class="text-danger">
                        <div *ngIf="note.errors?.required">
                            Note è richiesto
                        </div>
                    </div>
                </div>
            </div>
            <!-- Signature and Name Fields -->
            <div class="col-12 col-md-12 mb-2">
                <h6>Firma ed invia</h6>
                <canvas #canvas class="shadow mb-2 w-100"></canvas>
                <h6 class="mt-3">Nome e cognome</h6>
                <input type="text" class="form-control" [(ngModel)]="formModel.nomeCognome" name="nomeCognome"
                    #nomeCognome="ngModel" required />
                <!-- Validation Error Message -->
                <div *ngIf="nomeCognome.invalid && nomeCognome.touched" class="text-danger">
                    Nome e cognome è richiesto
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary m-2" (click)="onResetSignature()">Cancella firma</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!formData.form.valid">
                        Submit
                    </button>
                </div>
            </div>
            <!-- Submit Button -->
        </form>
    </div>
</div>