<nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-light shadow-sm fixed-top d-flex">

    <div class="row align-items-center w-100">
        <!-- Back Button Column -->
        <div class="col-auto">
            <button class="btn btn-outline-white p-2" routerLink="/welcome" type="button">
                <i class="fa fa-arrow-left text-white"></i>
            </button>
        </div>
        <!-- Task Name Column -->
        <div class="col-10">
            <span class="text-white p-2">Interventi</span>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        <div class="d-flex flex-column align-items-center m-4">
            <div class="btn-group" role="group" aria-label="Basic example">
                @for (stage of taskStages; track stage.id) {
                <button type="button" (click)="onChangePersonalStage(stage)" class="btn"
                    [ngClass]="{'btn-primary': selectedPersonalStage === stage.name}">{{stage.name}}</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td class="fw-bold">{{task.partner_id.name}}</td>
                    <td>{{task.name}} </td>
                    <td><a class="btn btn-primary ms-auto p-2" [routerLink]="['/task-list', task.id]"><i
                                class="fa fa-arrow-right"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <ul class="list-group">
    <li class="list-group-item d-flex flex-row align-items-center" >
        <span class="p-2 fw-bold">{{task.partner_id.name}}</span>
        <span class="p-2">{{task.name}} </span>
        <a class="btn btn-primary ms-auto p-2" [routerLink]="['/task-list', task.id]"><i class="fa fa-arrow-right"></i></a>
    </li>
</ul> -->