<nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-light shadow-sm fixed-top d-flex">
    <button class="btn btn-outline-white p-2" routerLink="../.." type="button">
        <i class="fa fa-arrow-left text-white"></i>
    </button>
    <span class="text-white p-2">Interventi</span>
</nav>

<ul class="list-group">
    <li class="list-group-item d-flex flex-row" *ngFor="let task of tasks" >
        <span class="p-2">{{task.partner_id.name}} {{task.name}} </span>
        <a class="btn btn-primary ms-auto p-2" [routerLink]="['/task-list', task.id]"><i class="fa fa-arrow-right"></i></a>
    </li>
</ul>

