<nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-light shadow-sm fixed-top d-flex">
  <button class="btn btn-outline-white p-2" routerLink="/welcome" type="button">
      <i class="fa fa-arrow-left text-white"></i>
  </button>
  <span class="text-white p-2">Timbratura</span>
</nav>

<div class="d-flex flex-column h-20 mb-5 p-5">
    <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">{{this.employee?.name}}</h5>
          <div *ngIf="!checkedIn">
            <p class="card-text">Benvenuto</p>
            <a class="btn btn-primary btn-lg" (click)="onCheckIn()">Ingresso <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
          </div>
          <div *ngIf="checkedIn">
            <p class="card-text">Vuoi uscire?</p>
            <a class="btn btn-primary btn-lg" (click)="onCheckOut()">Uscita</a>
          </div>
        </div>
      </div>
</div>  