<nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-light shadow-sm fixed-top d-flex ">
    <button class="btn btn-outline-white me-2" routerLink=".." type="button">
        <i class="fa fa-arrow-left text-white"></i>
    </button>
    <span class="text-white">Interventi</span>
</nav>

<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item d-inline-flex" *ngFor="let task of tasks">
                <span><i class="fa fa-circle p-2"></i></span>
                <span class="w-100 p-2">{{task.name}} </span>
                <input class="form-check-input p-2" type="checkbox" id="gridCheck1">
                <select class="form-select p-2" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </li>
        </ul>
    </div>
</div>