<nav class="navbar bg-primary fixed-top navbar-expand-lg navbar-light shadow-sm fixed-top d-flex">
    <button class="btn btn-outline-white p-2" routerLink=".." type="button">
        <i class="fa fa-arrow-left text-white"></i>
    </button>
    <span *ngIf="task" class="text-white p-2">{{task.partner_id.name}}</span>
</nav>

<ul class="list-group">
    <li class="list-group-item text-muted fst-italic text-sm-left">Seleziona le task completate</li>
    <li class="list-group-item" *ngFor="let task of tasks">
        <div class="d-flex justify-content-between">
            <span class="p-2 fw-bold">{{task.name}} </span>
        </div>
        <div class="d-flex">
            <select class="form-select p-2">
                <!-- <option *ngFor="let stage in taskStages">{{stage.name}}</option> -->
            </select> 
        </div>
    </li>
</ul>

<div class="d-flex justify-content-center m-3">
    <button class="btn btn-danger m-2 text-white" [routerLink]="['cancel']">Annulla</button>
    <button class="btn btn-primary m-2" (click)="onComplete()">Concludi</button>
</div>

