/* You can add global styles to this file, and also import other style files */

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 961px,
    xxl: 962px
);

$font-sizes: (
  1: 3rem,  // 30 su 1200
  2: 1.4rem,
  3: 1.25rem,
  4: 1.00rem,
  5: 0.88rem,
  6: 0.65rem
);

@import '../node_modules/bootstrap/scss/bootstrap';

html,body {
    height: 100%;
    min-height: 100%;
}